@model ENDASPNET_PROJECT.Models.Posts.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.postId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.postTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.postContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.postAuthor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postAuthor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.postCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.postTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postTime)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
